@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin mobile-view {
  @media (min-width: 0px) and (max-width: 480px) {
    @content;
  }
}

@mixin tablet-view {
  @media (min-width: 481px) and (max-width: 1115px) {
    @content;
  }
}

@mixin web-view {
  @media (min-width: 1116px) {
    @content;
  }
}

html,
body {
  scrollbar-width: none;
}

.content-container {
  height: 85%;

  .weather-container {
    .main-cities-container {
      .main-cities-nav {
        scrollbar-width: none;

        .city-chip {
          &.active {
            background-color: #6153cc;
            color: #fff;
          }
        }

        @include tablet-view {
          justify-content: flex-start;
          gap: 1rem;
        }

        @include web-view {
          justify-content: flex-start;
          gap: 2rem;
        }
      }

      .forecast-container {
        .city-forecast {
          scrollbar-width: none;

          @include web-view {
            justify-content: flex-start;
          }

          .daily-forecast-container {
            flex: 0 0 42%;
            grid-template-areas:
              "date"
              "weathertype"
              "temperature";
            grid-template-rows: auto auto auto;
            width: 42%;

            @include tablet-view {
              flex: 0 0 25%;
              width: 25%;
            }

            @include web-view {
              flex: 0 0 18%;
              width: 18%;
            }

            #forecast-date {
              grid-area: date;
            }

            #forecast-weather {
              grid-area: weathertype;
              font-weight: 600;

              @include tablet-view {
                font-size: 60px;
              }

              @include web-view {
                font-size: 75px;
              }
            }
          }
        }
      }
    }

    .popup-container {
      .popup-loading-container {
        .loading-icon {
          font-size: 60px;
        }
      }

      .popup-forecast-container {
        .city-forecast {
          scrollbar-width: none;

          @include web-view {
            justify-content: flex-start;
          }

          .daily-forecast-container {
            flex: 0 0 38%;

            grid-template-areas:
              "date"
              "weathertype"
              "temperature";
            grid-template-rows: auto auto auto;

            width: 38%;

            @include tablet-view {
              flex: 0 0 25%;
              width: 25%;
            }

            @include web-view {
              flex: 0 0 18%;
              width: 18%;
            }

            #forecast-date {
              grid-area: date;
            }

            #forecast-weather {
              grid-area: weathertype;

              font-size: 60px;

              @include tablet-view {
                font-size: 60px;
              }

              @include web-view {
                font-size: 75px;
              }
            }

            #forecast-temp {
              grid-area: temperature;
            }
          }
        }
      }
    }
  }
}

.footer-container {
  grid-area: footer;
}
